/*Fonts
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");

/*General 
=============================*/
*,
*:focus {
  outline: none !important;
  box-sizing: border-box;
  /* direction: rtl; */
}
:root {
  --main_color: #000000;
  --primary_color: #3e0292;
  --primary_color_2: #00cebd;
  --second_color: #00cee0;
  --acent_color: #aaf3ff;
  --third_color: #3e3636;
  --gray_color: #bbbbbb;
  --brand-color: #303030;
}
::-moz-selection {
  background-color: var(--main_color) !important;
  color: #fff !important;
}

::selection {
  background-color: var(--main_color) !important;
  color: #fff !important;
}
.green_bc {
  background-color: rgb(62 2 146) !important;
}
body {
  font-family: "Almarai", sans-serif;
  overflow: hidden;
  overflow-y: visible;
  width: 100%;
  background-color: #fff;
  font-weight: 300;
  word-spacing: 2px;
  scrollbar-width: none !important;
}

/* Lists  
======================*/
ul,
li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Links 
======================*/
a,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

/*Images
======================*/
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Forms
=======================*/
.form-group {
  position: relative;
  margin: 0 0 20px 0;
  text-align: flex-start;
}

label {
  display: block;
  font-weight: 600;
  font-size: 13px;
  line-height: 25px;
  margin: 0 0 10px 0;
  color: var(--main_color);
  text-align: right;
}
.form-control {
  text-align: right;
  width: 100%;
  color: var(--main_color);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin: 15px 0;
  padding: 0 15px;
  line-height: 50px;
  height: 50px;
  font-size: 13px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-control:hover {
  outline: 0;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  outline: 0;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  resize: none;
  min-height: 120px !important;
  padding: 15px !important;
  line-height: 25px;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  margin: 0;
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main_color);
  line-height: 19px;
  font-size: 9px;
  z-index: 99;
  border-radius: 0;
  -webkit-border-radius: 0;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: "\2713";
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary_color);
  background-color: aliceblue;
}
input[type="checkbox"] + label img,
input[type="radio"] + label img {
  display: inline-block;
  width: 50px;
}
.flex_col {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.checkbox {
  display: inline-block;
  width: 87px;
  margin: 10px auto 0;
}
.checkbox input[type="checkbox"] + label {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  line-height: 20px;
}
.checkbox input[type="checkbox"] + label::before {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-color: #e0e0e0;
}
.checkbox input[type="checkbox"]:checked + label::before {
  content: "";
  border-color: #d6ffd6;
  background-color: #d6ffd6;
}
.checkbox label span {
  display: block;
  position: relative;
  padding: 5px;
  z-index: 999;
}
.checkbox label span img {
  width: 55px;
  display: block;
}

/* Buttons
========================*/
.link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 15px auto;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
  padding: 0 20px;
  background-color: var(--primary_color);
  color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.icon_link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  padding: 0;
  background-color: var(--primary_color);
  color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.link:hover,
.icon_link:hover,
.search_form button:hover {
  background-color: var(--main_color);
}

/* Section
=======================*/
section {
  position: relative;
  padding: 10px 0;
  text-align: right;
  background-color: #fff;
}
.section_color {
  background-color: #fcfcfc;
}
.row {
  position: relative;
  /* z-index: 999; */
}
.related {
  padding: 35px 0 50px 0;
}
.sec_tit {
  text-align: center;
  color: var(--main_color);
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 50px 0;
}
.sec_tit small {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}
.img_bc {
  /* background: url("./images/bc.jpg") center no-repeat; */
  background: #00cee0;
  background-size: cover;
  position: relative;
}
/* .img_bc::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(32, 30, 31, 0.8);
} */
.img_bc::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(./images/pattern.png) repeat;
}

/* Main Section
=======================*/
.main_screen {
  /* position: relative; */
  position: fixed;
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main_screen .cont {
  position: relative;
  z-index: 999;
  color: #fff;
  max-width: 768px;
  margin: auto;
}
.logo {
  margin-bottom: 30px;
}
.main_screen .cont h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 30px 0;
}

.main_screen .cont p {
  margin: 30px 0 auto 0;
  font-size: 18px;
}
.carsual-button button {
  padding: 0 12px !important;
}
.search_form button {
  border: 0;
  height: 35px;
  line-height: 35px;
  display: block;
  padding: 0 15px;
  background-color: var(--primary_color);
  color: #fff;
  border-radius: 3px;
  margin: 25px auto 5px;
  font-size: 13px;
  max-width: 140px;
}
.search_form button i {
  margin-left: 5px;
}
.search_form {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  /* overflow: hidden; */
  padding: 45px 0px 10px 0px;
  /* padding: 0 0px 10px 0px; */
}
.search_form .row {
  margin: 0;
}
.search_form label {
  margin: 0 0 5px 0;
}
.search_form .form-control,
.select2-container .select2-selection--single {
  margin: 0 0 15px 0;
}

/* Header
=======================*/
header {
  padding: 10px 0;
  background-color: #303030;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  min-height: 60px;
}
header .col-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  margin: 0;
  width: 160px;
}
header form {
  width: 100%;
  position: relative;
  max-width: 767px;
}
header form .form-control {
  margin: 0;
}
header form .link {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000000 !important;
}
header form .link i {
  margin-left: 5px;
}

.filter-title {
  background: white;
  margin-bottom: 1px;
  padding: 15px;
  box-shadow: 0px 0px 31px 5px rgb(0 0 0 / 10%);
}

.toggle-container {
  background: white;
  padding: 10px;
  height: 100vh;
  overflow: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.toggle-container .close_btn {
  margin: auto;
  display: none;
  position: absolute;
  left: 15px;
  top: 5px;
}

.toggle-container .panel {
  background-color: #fff;
  margin: 0 auto 25px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.toggle-container .panel-collapse {
  transition: 3s all linear;
}

.toggle-container .panel-title {
  line-height: 35px;
  margin: 0;
  padding: 5px 5px 5px 10px;
  border: 1px solid #e0e0e0;
  text-align: right;
  transition: border-width 0.2s linear;
}
.toggle-container .panel-title:hover {
  border-right: 3px solid var(--primary_color);
}

.toggle-container .panel-title a {
  text-decoration: none;
  display: block;
  position: relative;
  font-size: 13px;
  color: var(--main_color);
  font-weight: 600;
}

.toggle-container .panel-title a::before {
  position: absolute;
  content: url(./images/select_arrow.svg);
  line-height: 30px;
  font-size: 26px;
  padding: 0;
  height: 35px;
  text-align: center;
  left: 0;
  top: 0;
  font-weight: 400;
  color: #2b3445;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.css-14el2xx-placeholder {
  color: var(--main_color) !important;
}

.toggle-container .panel-title a.collapsed::before {
  transform: rotate(180deg);
}

.toggle-container .panel-content {
  padding: 15px 15px 5px;
  max-height: 280px;
  overflow-y: auto;
  background-color: rgb(245, 247, 251);
}

.toggle-container .panel-content .form-group {
  margin: 0 0 10px;
}

.toggle-container .panel-content .form-group:last-child {
  border-bottom: 0;
}

.toggle-container .panel-content .form-control {
  line-height: 40px;
  height: 40px;
}

.subscribe_btn {
  display: none;
}
.filter_btn {
  display: none;
}

.filter_btn i {
  margin-left: 5px;
}
body .login-drop {
  position: absolute;
  left: 125px;
  top: 14px;
  z-index: 9;
}
.login-drop .btn {
  background-color: #fff;
  border: none;
  padding: 0;
  color: #3e0292;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.login-drop.show > .btn-success.dropdown-toggle,
.login-drop .btn-success:focus,
.login-drop .btn-success:hover {
  color: #3e0292;
  background-color: #fff;
  border: none;
  box-shadow: none;
}

.login-drop .dropdown-toggle::after {
  display: none;
}
.login-drop .dropdown-menu svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.login-drop .dropdown-item {
  font-size: 14px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ececec;
  padding: 0.4rem 1rem;
}
.login-drop hr + .dropdown-item {
  border: none;
}
.login-drop .dropdown-item:focus,
.login-drop .dropdown-item:hover {
  color: #3e0292;
  background-color: transparent;
}
.login-drop .dropdown-item:last-child:hover {
  background-color: #3e0292;
  color: #fff;
}
.login-drop .dropdown-item:last-child {
  margin-top: -0.5rem;
}
.login-drop .dropdown-menu {
  padding-bottom: 0;
}
.login-drop .dropdown-item:first-child {
  border-top: 0;
}
.login-drop .user-name svg {
  width: 30px;
  height: 30px;
  background-color: #767676;
  padding: 7px;
  border-radius: 50%;
}
.login-drop .dropdown-item.user-name:hover svg {
  background-color: #3e0292;
}

@media all and (max-width: 991.98px) {
  .form-group-province-ar{
    padding-left: 9% !important;
  }
  .form-group-province-en {
    padding-right: 7% !important;
  }
  .filter-desktop{
    display: none !important;
  }
  .firstpage_logo_img {
    width: 148px;
  }
  .subscribe button {
    height: 50px !important;
  }
  .paper-en {
    width: auto !important;
    padding: 20px;
  }
  .paper-ar {
    width: auto !important;
    padding: 20px;
  }
  .subscribe_btn {
    display: inline-block;
    float: left;
    margin: 0;
    margin-top: 2px;
  }
  .filter_btn {
    display: inline-block;
    margin: 0;
  }
  .filter-title {
    display: none;
  }
}

#display-search {
  visibility: hidden;
  height: 0px;
  background: transparent;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

#display-search.visible {
  visibility: visible;
  height: 65px;
}

.section-gray {
  background-color: #e9e9e9;
}

.search_hint {
  background-color: #e9e9e9;
  position: relative;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 15px;
}
.search_hint p {
  margin: 0;
  font-size: 18px;
  display: block;
}
.search_hint p span {
  color: var(--primary_color);
  margin: 0 5px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}
.search_hint .dropdown {
  position: relative;
  display: inline-block;
}
.search_hint .dropdown-menu {
  border: 0;
  border-radius: 0 0 5px 5px;
  z-index: 9999;
  padding: 0;
  margin-top: 41px;
  min-width: 138px;
  right: -1px !important;
  left: auto !important;
  max-width: 138px !important;
  width: 138px !important;
  background-color: #f5f7fb;
  transform: none !important;
  overflow: hidden;
}
.search_hint .dropdown button,
.search_hint .dropdown button:focus {
  border: 1px solid #e0e0e0 !important;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 35px;
  padding: 0 25px;
  background-color: transparent !important;
  color: var(--main_color) !important;
  box-shadow: none !important;
  font-weight: 600;
  border-radius: 3px;
  margin: 0;
}
.search_hint .dropdown .dropdown-item {
  padding: 0 15px;
  line-height: 40px;
  text-align: right;
  font-size: 11px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  position: relative;
  background-color: #f5f7fb;
  font-weight: 600;
  cursor: pointer;
}
.search_hint .dropdown .dropdown-item:hover {
  color: var(--primary_color);
}
.search_hint .dropdown button:after {
  display: none;
}
.search_tags {
  margin-bottom: 25px;
  text-align: start;
}

.search_tags li {
  display: inline-block;
  background-color: var(--primary_color_2);
  color: var(--main_color);
  font-size: 13px;
  line-height: 30px;
  border-radius: 50px;
  padding: 0 10px 0 10px;
  min-width: 70px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 2px;
}

.search_tags li span {
  cursor: pointer;
  float: left;
}
.search_tags li span svg {
  width: 20px;
  height: 20px;
}

.search_tags-remove {
  cursor: pointer;
  background-color: var(--gray_color) !important;
  margin-right: 5px !important;
}

.search_tags li .close {
  position: absolute;
  color: inherit;
  opacity: 1;
  font-weight: 400;
  font-size: 12px;
  left: 10px;
  top: 2px;
  text-shadow: none;
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: flex-start;
  line-height: 1;
}
.subscribe_mobile {
  display: none;
}
.subscribe_mobile input {
  text-align: right;
  width: 70%;
  color: var(--main_color);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin: 15px 10px 0px 0px;
  padding: 0 15px;
  height: 51px;
  font-size: 13px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
  border-radius: 0 5px 5px 0 !important;
  -webkit-border-radius: 5px;
}
.subscribe_mobile button {
  width: 25%;
  bottom: 0;
  left: 0;
  height: 50px;
  border: 0;
  background-color: var(--primary_color);
  padding: 0 15px;
  color: #fff;
  border-radius: 5px 0 0 5px !important;
}
.subscribe_mobile button:focus,
.subscribe_mobile button:hover {
  background-color: var(--main_color);
}
.subscribe {
  text-align: left;
}
.subscribe label {
  margin: 10px 0 0;
}
/* .subscribe input{
  text-align: right;
  width: 70%;
  color: var(--main_color);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin: 15px 0;
  padding: 0 15px;
  height: 50px;
  font-size: 13px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
  border-radius: 0 5px 5px 0 !important;
  -webkit-border-radius: 5px;
} */
.subscribe button {
  height: 40px;
  border: 0;
  background-color: var(--primary_color);
  padding: 0 15px;
  color: #fff !important;
  border-radius: 5px !important;
}
/* .subscribe button:focus,
.subscribe button:hover {
  background-color: var(--main_color) !important;
} */
.car_item {
  display: block;
  background: white;
  margin-bottom: 25px;
  align-items: center;
  border-bottom: 1px solid var(--primary_color);
  transition: all 0.2s ease;
  /* border: 1px solid #fff; */
  border-radius: 5px;
  /* padding: 5px; */
}
.car_item:hover {
  transform: translateY(-20px);
}
.car_item.visited {
  opacity: 50%;
}
.car_item .car_img {
  height: 170px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.car_item .car_img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.car_item .car_img .source_logo_mobile {
  display: none;
}
.price_mobile {
  display: none;
}
.car_item .car_img li {
  margin-top: 10px;
  display: inline-block;
}
.car_item .car_img li img {
  width: 61px;
  border-radius: 3px;
}
.car_item .car_cont {
  width: 100%;
}
.car_item .car_cont h3 {
  color: var(--main_color);
  font-weight: 600;
  font-size: 15px;
  margin: 10px 15px 0px 10px;
}
.car_item .car_cont p {
  color: var(--third_color);
  font-size: 13px;
  margin: 0 10px;
  display: inline-block;
}
.car_item .car_cont .tags {
  margin: 5px;
}
.car_item .car_cont .tags li {
  display: inline-block;
  background-color: var(--acent_color);
  padding: 0 15px;
  margin: 2px;
  line-height: 28px;
  color: var(--main_color);
  border-radius: 50px;
  font-weight: 600;
  font-size: 11px;
}

.car_item .car_cont .bottom {
  padding: 5px 15px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.car_item .car_cont .bottom .price {
  width: 100%;
  font-weight: 600;
  color: var(--primary_color);
  font-size: 14px;
}
.car_item .car_cont .bottom .price span {
  display: block;
  font-weight: 400;
  color: var(--third_color);
  margin-bottom: 2px;
  font-size: 12px;
}
.car_item .car_cont .bottom img {
  width: 32px;
}
.report_btn {
  /* float: left;
  margin-right: 10px; */
  z-index: 9999;
  padding: 5px 10px 5px 5px;
}
.copyrights {
  padding: 10px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  background-color: #fff;
  position: relative;
  border-top: 1px solid #ccc;
}

.year_slider {
  position: relative;
  margin: 10px auto 0;
  border-radius: 3px;
  border-color: #e0e0e0;
}
.year_slider .ui-state-default,
.year_slider .ui-widget-content .ui-state-default,
.year_slider .ui-widget-header .ui-state-default {
  background: var(--primary_color);
  color: #555555;
  width: 9px;
  border-radius: 3px;
  margin: 0;
  border: 0;
  cursor: pointer;
}
.year_slider .ui-slider-handle:after {
  display: block;
  left: 100%;
  transform: translate(8px, 35px);
  content: attr(data-content);
  font-size: 11px;
  text-align: center;
  width: 30px;
  font-weight: 600;
  color: var(--main_color);
  letter-spacing: 0;
}
.year_slider .ui-widget-header {
  background: #dfdfdf;
  border-radius: 0;
}

/* Loading
========================*/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
}

/* Media Query
=======================*/
@media all and (max-width: 1199.98px) {
  .car_side_info li {
    line-height: 48px;
  }
  .car_side_info li span {
    line-height: 28px;
    margin: 10px 0;
  }
}
@media all and (max-width: 991.98px) {
  /* .toggle-container {
    position: fixed;
    margin: auto;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 50px 15px 0;
    z-index: 9999;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(43, 52, 69, 0.1);
    -o-box-shadow: 5px 0px 15px 0px rgba(43, 52, 69, 0.1);
    box-shadow: 5px 0px 15px 0px rgba(43, 52, 69, 0.1);
  }
  .toggle-container.move {
    right: 0;
  } */
  /* .toggle-container.move::before {
    content: " ";
    position: fixed;
    width: calc(100% - 270px);
    height: 100%;
    right: 270px;
    top: 0;
    z-index: 99;
    -webkit-transition: 0.4s all ease-out;
    transition: 0.4s all ease-out;
  } */
  .toggle-container .close_btn {
    display: inline-block;
  }
}
@media all and (max-width: 767.9px) {
  .main_screen .cont {
    margin-top: 35px;
  }
  .main_screen .cont h1 {
    font-size: 18px;
  }
  .flex_col {
    flex-wrap: wrap;
  }
  .flex_col .checkbox {
    min-width: 100px;
  }
  .year_slider {
    margin: 10px auto 30px;
  }
  .year_slider .ui-slider-handle:after {
    transform: translate(8px, 25px);
  }
  .main_screen {
    display: block;
    /* background: url(./images/bc.jpg) center repeat; */
    height: auto;
  }
  .main_screen .cont h1 {
    font-size: 22px;
    line-height: 34px;
    /* margin-top: 70px; */
  }
  .search_tags {
    margin-bottom: 0px;
  }
  .search_form {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .flex_col .checkbox {
    min-width: 120px;
  }

  .logo {
    margin: 0 auto 15px;
  }
  .select2-container--default .select2-selection--single,
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    height: 50px;
    line-height: 50px;
  }
  .main_screen .cont p {
    font-size: 12px;
  }
  .subscribe_mobile {
    max-width: 100%;
    margin: 0 auto 25px;
  }
  .subscribe {
    max-width: 100%;
    margin: 0 auto 25px;
  }
}

@media all and (max-width: 575.98px) {
  .scrolldivhieght {
    height: 82vh !important;
  }
  .search_hint_mobile {
    position: sticky;
    top: -2px;
    z-index: 10;
    padding-bottom: 10px;
  }
  .main_screen {
    position: sticky;
  }

  .main_screen .cont {
    margin-top: 35px;
  }
  .paper-en {
    width: auto !important;
    padding: 20px;
  }
  .paper-ar {
    width: auto !important;
    padding: 20px;
  }
  .car_item {
    max-width: 100%;
    margin: 0 auto 25px;
    display: flex;
    border-bottom: none;
  }

  .infinite-scroll-component {
    width: 100%;
  }
  /* ----NEW----- */
  .link {
    width: 50%;
  }
  .rounded {
    width: 50%;
  }
  .dropdown-toggle {
    width: 100%;
  }
  .card_space {
    height: 156px;
  }
  .car_item .car_img {
    height: 150px;
  }
  .car_item .car_cont {
    width: 200%;
  }
  .car_item .car_cont .tags li {
    line-height: 18px;
    padding: 0px 18px;
  }
  .car_item .car_img img {
    height: 135px;
    width: 135px;
    margin: 7px 9px;
    border-radius: 10px;
    position: relative;
  }
  .car_item .car_cont .bottom {
    display: none;
  }
  .car_item .car_img .source_logo_mobile {
    display: block;
    position: absolute;
    bottom: 15px;
    left: -7px;
    right: 0;
  }
  .car_item .car_img .source_logo_mobile img {
    width: 32px;
    height: 32px;
    border-radius: 0px !important;
    border: 2px solid white;
    margin-bottom: -13px;
  }
  .price_mobile {
    display: block;
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
  }

  .search_hint p {
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .search_hint p span {
    font-size: 18px;
  }

  header .col-12 {
    flex-direction: column;
  }
  header img {
    /* margin: 0 0 15px; */
    width: auto;
  }
}
@media all and (max-width: 420px) {
  .float-en {
    margin-bottom: 40px;
  }
  .float-ar {
    margin-bottom: 40px;
  }
  .scroll-btn-en {
    margin-bottom: 45px;
  }
  .scroll-btn-ar {
    margin-bottom: 45px;
  }
  .main_screen .cont {
    margin-top: 35px;
  }
  .paper-en {
    width: auto !important;
    padding: 20px;
  }
  .paper-ar {
    width: auto !important;
    padding: 20px;
  }
  .car_item .car_cont .bottom {
    display: none;
  }
  .car_item .car_img .source_logo_mobile {
    display: block;
    position: absolute;
    bottom: 15px;
    left: -5px;
    right: 0;
  }
  .car_item .car_img .source_logo_mobile img {
    width: 32px;
    height: 32px;
    border-radius: 0px !important;
    margin-bottom: -13px;
    border: 2px solid white;
  }
  .price_mobile {
    display: block;
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
  }
  .car_item {
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  .car_item .car_img img {
    height: 120px;
    width: 115px;
    margin: 10px;
    border-radius: 10px;

    position: relative;
  }
  .car_item .car_cont .price {
    position: absolute;
    right: 22px;
    margin-right: 10px;
  }
  .car_item .car_cont .bottom {
    border-top: none;
  }
  /* ----NEW----- */
  .car_item .car_img {
    height: 150px;
  }
  .car_item .car_cont {
    width: 165%;
  }
  .car_item .car_cont .tags li {
    line-height: 18px;
    padding: 0px 18px;
  }
  .car_item .car_cont .bottom .price {
    width: 52%;
    padding-bottom: 80px;
  }
  .container-fluid {
    padding: 0px 3px;
  }
  .car_item .car_cont .bottom img {
    position: absolute;
    left: 30px;
    padding-bottom: 30px;
  }
  .link {
    width: 50%;
  }
  .rounded {
    width: 50%;
  }
  .dropdown-toggle {
    width: 100%;
  }
}

.collapseArea {
  margin-bottom: 100px;
}

.sliderArea {
  width: 300px;
  margin: 0 auto;
}

.subscribe-modal .modal-title {
  margin-left: auto;
}
.subscribe-modal .tabs-menu .nav-tabs {
  justify-content: end;
}
.subscribe-modal .Tab-inner {
  display: flex;
}
.subscribe-modal label {
  text-align: right;
  width: 100%;
}
.subscribe-modal input {
  text-align: right;
}

.disable-button {
  background-color: var(--gray_color) !important;
}

.search-button a {
  color: #fff;
  text-decoration: none;
}
.search-button a:hover {
  color: #fff;
  text-decoration: none;
}

.d-block img {
  width: 30px !important;
  height: 30px;
  object-fit: contain;
}

.filter-accordion .accordion-button {
  padding: 0.7rem 0.7rem;
  justify-content: space-between;
}
.filter-accordion .accordion-button:focus {
  box-shadow: none;
}
.filter-accordion .accordion-item {
  border: none;
}
.filter-accordion .accordion-header {
  border: 1px solid #e0e0e0;
  transition: border-width 0.2s linear;
}
.filter-accordion .accordion-header:hover {
  border-right: 3px solid var(--primary_color);
}
.filter-accordion .accordion-body {
  padding: 0;
}

.filter-accordion .accordion-button::after {
  margin-left: 0 !important;
}
.filter-accordion .accordion-item {
  margin-bottom: 25px;
}

.search_form .nav-tabs button {
  max-width: 100%;
  height: 50px;
  margin-top: 0px;
  background-color: transparent !important;
  color: #3e0292 !important;
  font-size: 18px;
  border: none;
  width: 100%;
}

.search_form .nav-tabs .active {
  background-color: #3e0292 !important;
  color: white !important;
  border-radius: 0px;
}
.search_form .tabs-btn:hover {
  background-color: #3e0292;
  color: white;
}
.search_form .tabs-btn {
  display: none;
}

.search_form .nav-tabs {
  border-bottom: 0;
  width: 100%;
}
.search_form .nav-tabs .nav-item {
  width: 50%;
}

@media (max-width: 600px) {
  .main_screen .cont {
    margin-top: 35px;
  }
  .paper-en {
    width: auto !important;
    padding: 20px;
  }
  .paper-ar {
    width: auto !important;
    padding: 20px;
  }
  .search_form button {
    max-width: 100%;
    width: 98%;
    height: 50px;
    border-radius: 0px;
  }
  .search_form .css-tlfecz-indicatorContainer {
    padding: 0 !important;
  }
  .search_form .css-bvegwb-control {
    padding: 4px !important;
  }
  .search_form .tabs-btn {
    display: block;
  }
  .search_hint .link {
    font-size: 11px;
    padding: 0 7px;
  }
}
.language-button {
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 1;
}
.language-button .dropdown-menu {
  min-width: 4rem !important;
}
.login-link {
  position: absolute;
  left: 127px;
  top: 19px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.custom-modal {
}
.custom-modal .form-label {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 2px;
  text-align: left;
}
.custom-modal .form-control {
  margin: 0;
  text-align: left;
}
.custom-modal .modal-title {
  text-align: center;
  color: #6c757d;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.3rem;
}
.custom-modal .modal-header {
  padding: 0;
  border: none;
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 9;
}
.custom-modal .modal-header .btn-close,
.custom-modal .modal-header .btn-close:hover {
  padding: 0 !important;
}
.custom-modal .modal-body {
  padding: 40px;
}
.custom-modal .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
}
.custom-modal .modal-dialog {
  max-width: 380px;
}
.custom-modal .form-link {
  cursor: pointer;
}
.custom-modal .btn-close:focus {
  box-shadow: none;
}
.custom-modal .modal-logo img {
  max-width: 150px;
  margin-bottom: 20px;
}
.custom-modal .btn-solid {
  background-color: transparent !important;
  border: 1px solid var(--primary_color);
  color: var(--primary_color) !important;
  font-weight: 400;
  font-family: "Almarai", sans-serif;
  font-size: 18px;
}
.custom-modal .modal-content {
  background-color: #f7f9fa;
}
.custom-modal .form-select {
  font-size: 1rem;
  font-weight: 400;
  min-height: 50px;
}
.modal-register .modal-dialog {
  max-width: 550px;
}

.react-datepicker-wrapper input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-height: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tabs-menu .nav-tabs {
  border-bottom: none !important;
}
.tabs-menu .nav-link {
  color: #495057 !important;
  border: none !important;
}
.tabs-menu .nav-link.active {
  color: #3e0292 !important;
  border-bottom: 1px solid #3e0292 !important;
}
.btn-primary {
  background-color: var(--primary_color) !important;
  color: #fff !important;
}
.App-en .main_screen label {
  text-align: left !important;
}
.App-en .section-gray .filter-title {
  text-align: left !important;
}
.App-en .section-gray input {
  text-align: left !important;
}
.App-en .section-gray input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  left: unset !important;
  right: 0 !important;
}
.App-en .section-gray input[type="checkbox"] + label,
input[type="radio"] + label {
  padding-right: 25px !important;
  padding-left: 0 !important;
  text-align: left !important;
}
.App-en header img {
  margin-left: auto !important;
}
.App-en header .logo-row {
  flex-direction: row-reverse !important;
}
.App-en .section-gray .subscribe {
  text-align: end;
}
.App-en .section-gray .search_hint {
  text-align: start;
}
.App-en .section-gray .search_tags li span {
  float: revert;
}
.App-en .section-gray .search_hint .dropdown .dropdown-item {
  text-align: start;
}
.App-en .section-gray .search_hint .dropdown .dropdown-item {
  text-align: start;
}
.App-en .car_item .car_cont .bottom .price {
  text-align: start;
}
.App-en .car_item .car_details {
  text-align: start;
}
.App-en .car_item .report_btn {
  float: right;
  margin-right: 10px;
}
.App-en .car_item .tags {
  padding-left: 0 !important;
}
.subscribe-modal-en .modal-title {
  margin-left: unset !important;
}
.subscribe-modal-en .tabs-menu .nav-tabs {
  flex-direction: row-reverse;
}
.subscribe-modal-en .Tab-inner {
  display: flex;
  flex-direction: row-reverse;
}
.subscribe-modal-en .tabs-menu .nav-tabs {
  justify-content: start;
}
.subscribe-modal-en label {
  text-align: left !important;
}
.subscribe-modal-en input {
  text-align: left !important;
}

.float-en {
  position: fixed;
  /* bottom: 80px; */
  right: 10px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  text-align: center;

  box-shadow: 2px 2px 3px #999;
}
.float-ar {
  position: fixed;
  left: 10px;
  /* bottom: 80px; */
  cursor: pointer;
  color: #fff;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

/* .float-en {
	position:absolute !important;
	bottom:-70px;
	right:40px;
	color:#FFF;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.float-ar {
	position:absolute !important;
	bottom:-70px;
	left:40px;
	color:#FFF;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
} */

.paper-en {
  width: 500px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.paper-ar {
  width: 500px;
  margin-left: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.basic-multi-select img {
  width: 30px !important;
  height: 30px !important;
}
.report-flag {
  color: grey;
}

.report-flag:hover {
  color: red;
}

.dropdown_icon_en {
  position: relative;
  float: right;
  margin-top: 30px;
  left: -79px;
}
.dropdown_itam_flag {
  padding: 0px !important;
  min-width: 0px !important;
}
.dropdown_icon_ar {
  position: relative;
  float: left;
  right: -79px;
  margin-top: 30px;
}
.three_dot_icon {
  position: relative;
  font-size: 20px;
  width: 30px;
  float: right;
  padding-left: 10px;
  left: 0;
  right: 92%;
}

.scroll-btn-en {
  position: fixed;
  width: 100%;
  /* left: 50%; */
  left: 100%;
  bottom: 120px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: #00cebd;
  margin-left: -133px;
}
.scroll-btn-ar {
  position: fixed;
  width: 100%;
  /* right: 50%; */
  right: 100%;
  bottom: 120px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: #00cebd;
  margin-right: -133px;
}

.sources_img_main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.source_img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  padding: 10px;
}
.firstpage_logo {
  position: absolute;
  width: 230px;
  z-index: 1;
  top: 16px;
  left: 41%;
}
.selct-year {
  display: flex;
  flex-wrap: wrap;
  max-height: 93px;
  overflow: hidden;
  margin-top: 10px;
  justify-content: space-between;
}
.selct-year .fetching {
  color: black;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 67px;
}
.selct-year .fetching input[type="checkbox"] {
  display: block;
  margin: 0 5px;
  border-radius: 3px;
}

.carsual-button {
  display: flex;
  justify-content: center;
}

.carsual-button .change-data {
  margin: 10px 5px;
  background: white;
  color: black;
}

.carsual-button .change-data:hover {
  margin: 10px 5px;
  background: white;
  color: black;
}
.gray-section-overlay {
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  width: 100%;
  height: 123%;
  bottom: 0;
  top: 0;
}
.section-overlay {
  position: absolute;
  z-index: 15;
  left: 0;
  right: 0;
  width: 100%;
  height: 123%;
  bottom: 0;
  top: 0;
}
.loader {
  position: relative;
  /* left: 30%; */
  top: 40%;
}
.loader_stack {
  align-items: center;
  direction: initial;
}
.MuiPaginationItem-root.Mui-selected {
  background-color: var(--acent_color) !important;
}
.card-body {
  padding: 0px !important;
}
.blog__link a,
.blog__link a:hover,
.blog__link a:active,
.blog__link a:focus {
  text-decoration: none;
  color: inherit;
}
.form-control {
  width: 100% !important;
}
.border-red-600 {
  border-color: red !important;
}
.year-paginat button {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  color: #303030;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);
  /* background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ; */
  direction: initial;
  background-color: white !important;
  border-radius: 50%;
  color: black;
}
.page__title h2 {
  position: relative;
  /* color: #fff; */
  font-size: 2.5rem;
}
.year-paginat .MuiPaginationItem-root.Mui-selected {
  background-color: white !important;
  color: var(--acent_color) !important;
}
.cards__container {
  padding: 80px 0;
}
.cards__container .row {
  --bs-gutter-y: 1.5rem;
}
.blog__card__link,
.blog__card__link:hover {
  text-decoration: none;
  color: #1a202c;
}

.blog__card__link .card {
  box-shadow: 0px 15px 15px -10px rgb(0 0 0 / 5%);
  padding: 7px;
}
.image-blog-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  height: 250px;
  margin-bottom: 20px;
  background-color: #303030;
}
.blog__card__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-blog-wrapper.img-full {
  height: auto;
  width: 100%;
  min-height: 350px;
}
.blog__card__link .img-full img {
  height: 100%;
  height: auto;
  width: 100%;

  object-fit: contain;
}
.blog__card__link img.thumbnail {
  height: 150px;
  width: 100%;
  object-fit: contain;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.blog__card__link .img-full {
  display: flex;
}
.year-paginat {
  align-items: center;
  direction: initial;
}
.blog__card__link img.blog-logo {
  max-width: 120px;
  object-fit: contain;
}
.model-poper-header {
  padding: 0 !important;
  border: none !important;
  position: absolute !important;
  left: 10px !important;
  top: 15px !important;
  z-index: 9;
}
.form-group-poper{
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 16px 0px;
    width: 300px;
    z-index: 9;
    overflow: auto;
    padding-bottom: 15px;
}
.city-header{
  position: sticky;
    padding: 16px 24px;
    text-align: center;
    display: block;
    top: 0;
    z-index: 999;
    background-color: white;
}
.clearButton{
  position: absolute !important;
    left: 10px;
    top: 10px;
    padding: 0px;
    z-index: 2;
}
.closeButton{
  position: absolute !important;
    right: 15px;
    top: 10px;
    padding: 0px;
    z-index: 2;
}
.section-div-overlay{
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0px;

}
.form-group-province-ar{
  direction: rtl;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px
}
.form-group-province-en{
  direction: ltr;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.label-province {
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
}
.panel-content-province {
  padding: 10px 7px 5px;
  max-height: 280px;
  overflow-y: auto;
  background-color: rgb(245, 247, 251);
  text-align: justify;
}
.form-group-province-ar:hover{
  border-right: 3px solid var(--primary_color);
  transition: 0.3s;
}
.form-group-province-en:hover{
  border-left: 3px solid var(--primary_color);
  transition: 0.3s;
}

.checkbox-en{
  direction: ltr;

}
.checkbox-ar{
  direction: rtl;
}
.MuiFormControlLabel-root{
  margin: 1px !important;
}
.filter-desktop{
  display: block;
}


.close-drawer-btn {
  position: relative;
  margin-bottom: 20px;
  line-height: 32px;
  border: 0 !important;
  width: 45px;
  height: 25px;
  left: 15px;
  top: 10px;
  background-color: transparent !important;
}
.d-block{
  text-align: -webkit-match-parent;
  padding-right: 15px;
}
.d-block::before{
  left: 90%;
  right: 90%;
}

.details-btn {
  background-color: #131313 !important;
}
.details-btn.btn,
.details-btn.btn:hover {
  color: #fff;
}
/* .language-button:hover,
.language-button:focus,
.language-button:active
{
  background-color: #303030;
  color: #fff;
} */ /******   BLogs  *******/
.blog__link {
  position: absolute;
  left: 180px;
  top: 19px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
}
.blog__link a,
.blog__link a:hover,
.blog__link a:active,
.blog__link a:focus {
  text-decoration: none;
  color: inherit;
}
.login-link-ar {
  left: 80px;
}
.blog__link-ar {
  left: 190px;
}
.blog__link:hover {
  color: #fff;
}
.page__title {
  min-height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  color: #303030;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);
  /* background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ; */
}
.page__title h2 {
  position: relative;
  /* color: #fff; */
  font-size: 2.5rem;
}
.cards__container {
  padding: 80px 0;
}
.cards__container .row {
  --bs-gutter-y: 1.5rem;
}
.blog__card__link,
.blog__card__link:hover {
  text-decoration: none;
  color: #1a202c;
}

.blog__card__link .card {
  box-shadow: 0px 15px 15px -10px rgb(0 0 0 / 5%);
  padding: 7px;
}
.image-blog-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  height: 250px;
  margin-bottom: 20px;
  background-color: #303030;
}
.blog__card__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-blog-wrapper.img-full {
  height: auto;
  width: 100%;
  min-height: 350px;
}
.blog__card__link .img-full img {
  height: 100%;
  height: auto;
  width: 100%;

  object-fit: contain;
}
.blog__card__link img.thumbnail {
  height: 150px;
  width: 100%;
  object-fit: contain;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.blog__card__link .img-full {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog__card__link img.blog-logo {
  max-width: 120px;
  object-fit: contain;
}

.details-btn {
  background-color: #131313 !important;
}
.details-btn.btn,
.details-btn.btn:hover {
  color: #fff;
}
/* .language-button:hover,
.language-button:focus,
.language-button:active
{
  background-color: #303030;
  color: #fff;
} */
header img {
  cursor: pointer;
}
/****** Responsive ******/
.bars {
  display: none;
}
@media (max-width: 500px) {
  /* .h-left
  {
    position: fixed;
    left: 0;
    top: 70px;
    background-color: #3e0292;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 30px ;
    z-index: 99999;
    transform: translateX(-100%);
   
  }
  .h-left.active
  {
    transform: none;
    transition: transform .5s ease-in-out;
  }
  .h-left > *
  {
    position: static;
    margin: 20px 0;
  }
*/
  .bars {
    display: flex;
    cursor: pointer;
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--primary_color);
    cursor: pointer;
    border: 0.5px solid #fff;
    border-radius: 2px;

    left: 180px;
    top: 15px;
    z-index: 1;
    cursor: pointer;
  }
  .blog__link {
    position: fixed;
    left: 0;
    top: 62px;
    /* background-color: #303030; */
    background-color: var(--primary_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 20px;
    z-index: 9999;
    transform: translateX(-100%);
  }
  .blog__link.active {
    transform: none;
    transition: transform 0.5s ease-in-out;
  }
  .blog__link a {
    padding: 5px;
    min-width: 50%;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  header img {
    max-width: 100px;
    margin-top: 10px;
  }
}
